 /************************* header css start******************************/
:root {
    --color-black: #1a1a1a;
    --color-darks: #404040;
    --color-greys: #999;
    --color-light: #f2f2f2;
    --color-white: #fff;
    --color-blue-100: rgba(213, 170, 14, 0.998);
    --color-blue-200: rgba(213, 170, 14, 0.998);
    --color-blue-300: rgba(213, 170, 14, 0.998);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body {
    font-family: "Rubik", ui-sans-serif, system-ui, -apple-system, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: -webkit-fill-available;
    color: var(--color-black);
    background-color: var(--color-white);
}

main {
    overflow: hidden;
        padding-top: 60px; 
}

a,
button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-transform: unset;
    text-decoration: none;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.section {
    margin: 0 auto;
    padding: 6rem 0 1rem;
}

.container {
    max-width: 75rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.brand {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: var(--color-blue-100);
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    margin: 0 auto;
    background-color: var(--color-white);
    box-shadow: var(--shadow-medium);
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    z-index: 10;
    overflow-y: auto;
    background-color: var(--color-white);
    box-shadow: var(--shadow-medium);
    transition: all 0.5s ease-in-out;
}

.menu.is-active {
    top: 0;
    left: 0;
}

.menu-inner {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    margin: 1.25rem;
}

.menu-link {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--color-black);
    transition: all 0.3s ease;
}

.menu-link:hover {
    color: var(--color-blue-200);
}

@media only screen and (min-width: 48rem) {
    .menu {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        margin-left: auto;
        background: none;
        box-shadow: none;
    }

    .menu-inner {
        display: flex;
        flex-direction: row;
        column-gap: 1.75rem;
        margin: 0 auto;
        margin-right: 5rem;
    }

    .menu-link {
        text-transform: capitalize;
    }

    .menu-block {
        margin-left: 2rem;
    }
}

.burger {
    position: relative;
    display: block;
    cursor: pointer;
    order: -1;
    width: 1.75rem;
    height: auto;
    border: none;
    outline: none;
    visibility: visible;
}

.burger-line {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 2px;
    margin: 6px auto;
    transform: rotate(0deg);
    background-color: var(--color-black);
    transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 48rem) {
    .burger {
        display: none;
        visibility: hidden;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
}

.overlay.is-active {
    display: block;
    opacity: 1;
    visibility: visible;
}

.search-toggle,
.search-cancel {
    display: block;
    cursor: pointer;
    font-size: 1.35rem;
    line-height: inherit;
    color: var(--color-black);
}

.search-block {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    background-color: var(--color-white);
    transition: all 0.45s ease-in-out;
}

.search-block.is-active {
    top: 0;
    right: 0;
}

.search-form {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    padding: 0.75rem 1rem;
}

.search-input {
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: auto;
    padding: 0.65rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    color: var(--color-black);
    background-color: var(--color-light);
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button {
    display: none;
    visibility: hidden;
}
 /************************* sidebar start******************************/
  .sidebar {
    position: fixed;
    top: 100px;
    right: 100px;
    width: 400px;
    height: 280px;
    background-color:#f8f8f8;
    
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    float: right; 
  }
  
  .sidebar h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .sidebar p {
    margin-top: 0;
    font-size: 16px;
    color: #666;
  }
  
/********************************Buttons start********************************/
  .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 15px;
    
  }
  
  .like-button, .comment-button {
    background-color: #38753a;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px; 
  }
  
  .comment-button {
    background-color: #115870;
  }
/* content */
.content {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
}

.content div {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 30px;
  border-width:0.1px;
  border-style:solid;
  border-color:black;
}
/* main */
.main-section {
    margin-right: 500px; 
  }
/* liste */
  ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
  }
  
  li {
    padding: 5px 0;
  }
  
  li::before {
    content: "• "; 
    color: #333; 
  }
  /* apply-button */
  .apply-button {
    cursor: pointer;
  }
  .apply-button {
    background-color: #115870;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .apply-button:hover {
    background-color: #008CBA;
    color: #fff;
  }
  
  /* listeler */
  ul li {
    margin-bottom: 10px;
  }

  ul li {
    cursor: pointer;
  }
 
  ul li:hover {
    background-color: #f0f0f0;

  }
  
  /* clubs */
  .my-clubs li {
    color: blue;
    list-style-type: none;
    display: inline-block;
    width: 30%;
    margin-right: 3%; 
    
  }
  .my-clubs {

    background-color: white;

  }
  .other-clubs li {
    list-style-type: none;
    color: green;
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    border-radius: 30px;
  }
  
  .other-clubs li:nth-child(3n) {
    margin-right: 0;
    border-radius: 30px;
    
  }


  .zort{
    position:absolute;
    left: -100px;
    right: 50px;
}